MirrorConfiguration/MirrorConfigSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:MirrorConfiguration" elementFormDefault="qualified" targetNamespace="urn:MirrorConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mirrorConfiguration" type="tns:SpaceTraffic.GithubToTfsSync.MirrorConfigurationCT" />
	<xs:complexType name="SpaceTraffic.GithubToTfsSync.MirrorConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="sourceRepository" type="tns:SpaceTraffic.GithubToTfsSync.SourceRepositoryCT">
				<xs:annotation>
					<xs:documentation>The SourceRepository.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="targetRepositories" type="tns:SpaceTraffic.GithubToTfsSync.TargetRepositoryCollectionCT">
				<xs:annotation>
					<xs:documentation>The TargetRepositories.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SpaceTraffic.GithubToTfsSync.TargetRepositoryCT">
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Unique identifier of the repository entry.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>URL of the target repository.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SpaceTraffic.GithubToTfsSync.TargetRepositoryCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="repository" type="tns:SpaceTraffic.GithubToTfsSync.TargetRepositoryCT">
				<xs:annotation>
					<xs:documentation>The TargetRepository Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SpaceTraffic.GithubToTfsSync.SourceRepositoryCT">
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>URL of the source repository.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
